/* Customize the scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Thin scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Hide track background */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888; /* Scroll thumb color */
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color on hover */
  }
  